body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.content {
  max-width: 600px;
}